@font-face {
    font-family: font1;
    src: url(./font/MontserratAlternates-SemiBold.ttf);
}
body{
  background-image: url("https://media.istockphoto.com/id/1390897176/vector/stipple-illustration-of-cumulus-clouds.jpg?s=612x612&w=0&k=20&c=KcIv7H_C_1YXYQikekPS3pqh-SKDUQjLFBM9gvX59SQ=");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-header{
    background-color: #b3c77f;
}
.card-footer{
        background-color: #b3c77f;

}
#textColor{
width: 30px;
}
#backColor{
    width: 30px;
}
.clearbtn{
    border: 1px solid black;
        background-color: #b3c77f;
height: 40px;
border-radius: 10px;
}
.clearbtn:hover{
    border: 1px solid black;
    transform: scale(1.05);
    background-color: rgb(165, 175, 172);    
}
.container h1 {
    color: rgb(5, 105, 92);
    font-size: 60px;
    font-family: font1;
}
.btn{
    background-color: #b3c77f;
  border: none;
}
/* forn js  */
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.right{
    text-align: right;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}